<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Edit Skill #<%= skill._id %></h1>
  <form action="/skills/<%= skill._id %>?_method=PUT" method="POST" autocomplete="off">
    <label for="text">Skill</label>
    <input value="<%= skill.text %>" type="text" name="text">

    <label for="level">Skill Level</label>
    <select name="level" id="level" required>
      <option value="beginner" <%= skill.level === 'beginner' ? 'selected' : '' %>>Beginner</option>
      <option value="intermediate" <%= skill.level === 'intermediate' ? 'selected' : '' %>>Intermediate</option>
      <option value="advanced" <%= skill.level === 'advanced' ? 'selected' : '' %>>Advanced</option>
    </select>

    <button type="submit">Save Skill</button>  
  </form><br>
  <a href="/skills">Go Back</a>
</body>
</html>